<div class="canvas"><h1>{{title}}</h1></div>
<div class="chat">
    <div class="chat-title">
        <h1>ChatBot</h1>
        <figure class="avatar">
            <img
                src="https://st3.depositphotos.com/9081830/13830/v/600/depositphotos_138301660-stock-illustration-chatbot-or-chatterbot-icon-concept.jpg"
            />
        </figure>
    </div>
    <div class="messages">
        <div class="messages-content"></div>
    </div>
    <div class="message-box">
        <textarea
            type="text"
            class="message-input"
            placeholder="Type your message..."
        ></textarea>
        <button type="submit" class="message-submit">Send</button>
    </div>
</div>
<div class="bg"></div>